<h2>Manage Dogs</h2>

<div class="row checkbox disabled radio"> 
  <label class="filterSearch">
  <input type="checkbox" ng-click="checkSort()" ng-model="weightSorted">
        Only show dogs over 8 years old
  </label>
</div>


<div>	
<table class="table table-bordered">
  <thead>
    <tr>
      <th> Name</th>
      <th> Owner</th>
      <th> Owner Phone</th>
      <th> Breed</th>
      <th> Age</th>
      <th> Color</th>
      <th> Weight</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="dog in dogs">
      <td>{{dog.name}}</td>
      <td>{{dog.owner}}</td>
      <td>{{dog.ownerPhone}}</td>
      <td>{{dog.breed}}</td>
      <td>{{dog.age}}</td>
      <td>{{dog.color}}</td>
      <td>{{dog.weight}}</td>
      <td><button class="btn btn-md btn-default glyphicon glyphicon-pencil editBtn" ng-click="editDog(dog)"></button></td>
      <td><button class="btn btn-md btn-default glyphicon glyphicon-trash removeBtn" ng-click="removeDog(dog)"></button></td>
    </tr>
  
  </tbody>
</table>
</div>


<div class="well" ng-model="editFormDog">
<div class="addIt">
  
	<h2>Add a New Dog</h2>
</div>

<div class="form-group">
<div class="row">
  <form ng-submit='saveChanges()'>
	<div class="col-md-4 col-md-offset-2">
		<label>Dog Name</label>
		<input class="form-control" ng-model='editFormDog.name' placeholder="Scruffy"/>
		
    <label>Owner Name</label>
		<input class="form-control" ng-model='editFormDog.owner' placeholder="Jane Doe"/>
		
    <label>Owner Phone</label>
		<input class="form-control" ng-model='editFormDog.ownerPhone' placeholder="123.555.2222"/>

    <label>Breed</label>
    <input class="form-control" ng-model='editFormDog.breed' placeholder="lab mix"/>

	</div>	
	<div class="col-md-4">

		<label>Age</label>
		<input class="form-control" ng-model='editFormDog.age'placeholder="6"/>
    <label>Color</label>
    <input class="form-control" ng-model='editFormDog.color'placeholder="brindle"/>
    <label>Weight</label>
    <input class="form-control" ng-model='editFormDog.weight'placeholder="54"/>
	
    <button type="button" class="btn btn-lg btn-default glyphicon glyphicon-plus addDog" ng-click="addDog(editFormDog)"> New </button>
    <button type="button" class="btn btn-default editBtn" ng-click='cancelEdit()'>Cancel Edit</button>
    <button class="btn btn-default editBtn">Save Edit</button>
  </div>

  </form>

</div>

	
  <div>
    <button class="btn btn-lg btn-default toDogsBtn" ui-sref="houses">Back to Houses!</button> 
    <button class="btn btn-lg btn-default toStatsBtn" ui-sref="details">Stats</button>
  </div>