<h2>List of Currently Occupied Homes</h2>

<div class="well">	
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Dog</th>
        <th> House</th>
        <th> Size</th>
        <th> Price</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="unavailableHouse in unavailableHouses">
        <td ng-repeat='dog in unavailableHouse.dogs' ng-model="houseName">{{dog.name}}</td>
        <td ng-model="houseLocation">{{unavailableHouse.name}}</td>
        <td ng-model="houseSize">{{unavailableHouse.size}}</td>
        <td ng-model="housePrice">{{unavailableHouse.price}}</td>
      </tr>
    
    </tbody>
  </table>
</div>